Status GUI/Software/node-red/.flows_SystemManager.json.backup
[{"id":"126f7cad.351833","type":"tab","label":"Data","disabled":false,"info":""},{"id":"f838cf0f.280d8","type":"tab","label":"UI","disabled":false,"info":""},{"id":"cf2216f6.730cf8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5af7e9a6.9911a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Diavolo Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8755cc62.cac06","type":"ui_tab","z":"","name":"ibuki monitor","icon":"dashboard"},{"id":"c7a5f82b.319ad8","type":"ui_group","z":"","name":"Platform1","tab":"8755cc62.cac06","disp":true,"width":"5"},{"id":"3b1e8ad6.9df426","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":2},{"id":"8adcb747.1b58c8","type":"ui_group","z":"","name":"UDP","tab":"3b1e8ad6.9df426","disp":true,"width":"6"},{"id":"15779ab1.2eca25","type":"SSH_Credentials","z":"","host":"33.33.33.34","port":"22","userlabel":"pi@33.33.33.34"},{"id":"3e94b8fb.942b48","type":"SSH_Credentials","z":"","host":"33.33.33.34","port":"22","userlabel":"pi@33.33.33.34"},{"id":"81656dbe.fe54","type":"ui_group","z":"126f7cad.351833","name":"MQTT Console","disp":true,"width":"12"},{"id":"9eceb593.f57608","type":"SSH_Credentials","z":"","host":"127.0.0.1","port":"22","userlabel":"showtime@127.0.0.1"},{"id":"2575e1cb.f4b94e","type":"ui_group","z":"","name":"Sensor Status","tab":"8755cc62.cac06","order":2,"disp":true,"width":"8"},{"id":"3ac42821.3cb018","type":"ui_group","z":"f838cf0f.280d8","name":"Second","tab":"4d3cc56d.2f9dac","order":2,"disp":true,"width":"5"},{"id":"4d3cc56d.2f9dac","type":"ui_tab","z":"f838cf0f.280d8","name":"Home","icon":"link","order":1},{"id":"44262a69.f4b844","type":"ui_group","z":"","name":"Default","tab":"ca7cec79.b992a","disp":true,"width":"6"},{"id":"ca7cec79.b992a","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"54e3471d.9d9528","type":"bigssh","z":"126f7cad.351833","name":"SSH","commandLine":"screen -drx ibuki -p 0 -X stuff","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"3e94b8fb.942b48","x":350,"y":340,"wires":[["b75b1137.78d28"],["b75b1137.78d28"],["b75b1137.78d28"]]},{"id":"1aa4a1db.73492e","type":"inject","z":"126f7cad.351833","name":"","topic":"","payload":"'./ibuki_start.sh^M'","payloadType":"str","repeat":"","crontab":"","once":false,"x":172.5,"y":344,"wires":[["54e3471d.9d9528"]]},{"id":"b75b1137.78d28","type":"debug","z":"126f7cad.351833","name":"","active":true,"console":"false","complete":"payload","x":549.5,"y":310,"wires":[]},{"id":"b744ec4c.3bdb8","type":"bigssh","z":"126f7cad.351833","name":"SSH","commandLine":"./ibuki_stop.sh","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":false,"myssh":"3e94b8fb.942b48","x":292,"y":485,"wires":[["f7795edf.baca1"],["f7795edf.baca1"],["f7795edf.baca1"]]},{"id":"1a3f424a.86435e","type":"inject","z":"126f7cad.351833","name":"","topic":"","payload":"'./ibuki_stop.sh^M'","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":420,"wires":[["54e3471d.9d9528"]]},{"id":"f7795edf.baca1","type":"debug","z":"126f7cad.351833","name":"","active":true,"console":"false","complete":"false","x":554,"y":454,"wires":[]},{"id":"9523097c.ec7738","type":"osc","z":"126f7cad.351833","name":"","path":"/sensor","metadata":false,"x":260.5,"y":224,"wires":[["29cfa169.43351e","b8485efb.eed08"]]},{"id":"c2a63256.a0bb","type":"udp in","z":"126f7cad.351833","name":"","iface":"","port":"3333","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":113.5,"y":224,"wires":[["9523097c.ec7738"]]},{"id":"29cfa169.43351e","type":"function","z":"126f7cad.351833","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 5){\n    text.shift();\n    text.length = 5;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":558,"y":223,"wires":[["3041d278.9071fe"]]},{"id":"3041d278.9071fe","type":"link out","z":"126f7cad.351833","name":"OSC Console Output","links":["2af02c16.5beb34"],"x":781.5,"y":223,"wires":[]},{"id":"1df552ba.f95d2d","type":"ui_template","z":"f838cf0f.280d8","group":"c7a5f82b.319ad8","name":"OSC Input","order":1,"width":"5","height":"5","format":"<div style=\"overflow: hidden; font-size: 12px;\">\n<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":396,"y":123,"wires":[[]]},{"id":"2af02c16.5beb34","type":"link in","z":"f838cf0f.280d8","name":"OSC Console Input","links":["3041d278.9071fe"],"x":203.5,"y":123,"wires":[["1df552ba.f95d2d"]]},{"id":"eb6336e9.b1d1c8","type":"ui_switch","z":"f838cf0f.280d8","name":"","label":"Ibuki On","group":"c7a5f82b.319ad8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"'./ibuki_start.sh^M'","onvalueType":"str","onicon":"","oncolor":"","offvalue":"'./ibuki_stop.sh^M'","offvalueType":"str","officon":"","offcolor":"","x":359.5,"y":310,"wires":[["e96faf84.f0ada"]]},{"id":"e96faf84.f0ada","type":"link out","z":"f838cf0f.280d8","name":"Ibuki on/off","links":["962044c9.825a58"],"x":495,"y":300,"wires":[]},{"id":"962044c9.825a58","type":"link in","z":"126f7cad.351833","name":"on/off connect","links":["e96faf84.f0ada"],"x":135,"y":300,"wires":[["54e3471d.9d9528"]]},{"id":"1fa97d49.d9c633","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n1</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":440,"wires":[[]]},{"id":"4e440a3e.2835b4","type":"inject","z":"f838cf0f.280d8","name":"","topic":"","payload":"background-color:#ff0000","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.5,"y":473,"wires":[[]]},{"id":"76049894.432698","type":"inject","z":"f838cf0f.280d8","name":"","topic":"","payload":"background-color:#27ae60","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":520,"wires":[[]]},{"id":"d7ec84c4.f11848","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n2</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":480,"wires":[[]]},{"id":"56348126.b04c4","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n3</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":520,"wires":[[]]},{"id":"e66a2a4.86cccd8","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n4</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":560,"wires":[[]]},{"id":"254ef6d2.0fd92a","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n8</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":640,"wires":[[]]},{"id":"29ce25ea.4dbb0a","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n7</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":680,"wires":[[]]},{"id":"4e9010d4.b5cc1","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n6</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":720,"wires":[[]]},{"id":"fea95e49.2124d","type":"ui_template","z":"f838cf0f.280d8","group":"2575e1cb.f4b94e","name":"Sensor1","order":0,"width":"2","height":"3","format":"<md-button class=\"filled rounded\" style={{msg.payload}}>\n5</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":547,"y":760,"wires":[[]]},{"id":"b8485efb.eed08","type":"function","z":"126f7cad.351833","name":"trigger_sensor_ui","func":"var type = msg.payload[0];\nvar sensor = msg.payload[1];\n\nif(type != \"aftertouch\"){\n\n    msg = {};  \n    msg.payload = {};\n    msg.payload[sensor] = type;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["3ee3c27c.7b535e"]]},{"id":"3ee3c27c.7b535e","type":"link out","z":"126f7cad.351833","name":"sensor_status","links":["f3c47abc.816538"],"x":1001.875,"y":133.75,"wires":[]},{"id":"f3c47abc.816538","type":"link in","z":"f838cf0f.280d8","name":"sensor_ui","links":["3ee3c27c.7b535e"],"x":55,"y":640,"wires":[["755cc5ed.a9037c","952e3494.9d6268","b939fcc8.0c646","9b78f211.e2d82","2ecf2d95.6f4c02","508dd17f.b6832","3b3e64a.21e1c9c","579f2ab1.8888d4"]]},{"id":"755cc5ed.a9037c","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"1\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":620,"wires":[["d7ec84c4.f11848"]]},{"id":"952e3494.9d6268","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"0\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":289,"y":577,"wires":[["1fa97d49.d9c633"]]},{"id":"b939fcc8.0c646","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"2\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":660,"wires":[["56348126.b04c4"]]},{"id":"9b78f211.e2d82","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"3\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":700,"wires":[["e66a2a4.86cccd8"]]},{"id":"2ecf2d95.6f4c02","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"7\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":760,"wires":[["254ef6d2.0fd92a"]]},{"id":"508dd17f.b6832","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"6\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":800,"wires":[["29ce25ea.4dbb0a"]]},{"id":"3b3e64a.21e1c9c","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"5\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":840,"wires":[["4e9010d4.b5cc1"]]},{"id":"579f2ab1.8888d4","type":"function","z":"f838cf0f.280d8","name":"","func":"var number = \"4\";\nvar oncolor = \"#ff0000\";\nvar offcolor = \"#27ae60\";\n\nfor(var key in msg.payload){\n    \n    \n    if(key == number){\n        if(msg.payload[key] == \"noteon\"){\n            msg = {};\n            msg.payload = \"background-color:\"+oncolor;\n            return msg;\n        }\n        else if (msg.payload[key] == \"noteoff\"){\n            msg = {};\n            msg.payload = \"background-coloe:\"+offcolor;\n            return msg;\n        }\n    }    \n}","outputs":"1","noerr":0,"x":290,"y":880,"wires":[["fea95e49.2124d"]]}]